
button{
  outline: 0;
}

.navbar-logo{

  margin-left: 0;
  background: rgb(6,74,17);
  background: linear-gradient(90deg, rgba(6,74,17,1) 0%, rgba(12,93,35,1) 0%, rgba(38,179,116,1) 34%, rgba(125,203,143,1) 61%, rgba(189,221,162,1) 100%, rgba(20,70,0,1) 100%, rgba(0,80,10,1) 100%);

}

.navbar-brand{
  letter-spacing: 4px;
  color: white;
  margin-left: 20px;
}

.sticky-top{
  width: 100%;

}
